<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../ARCHIVES/image/Icaros-branco.png">
    <link rel="stylesheet" href="./styl-signin.css" type="text/css">
    <title>Cadastro de Usuário</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="signin.js"></script>
</head>
<body>
    <div class="down-signin">
        <div class="above-signin">
            <a href="../index.html" title="Pagina Inicial"><img src="../ARCHIVES/image/Icaros-branco.png" class="above-signin-image"></a>
        </div>
        <div class="signin">
            <h2>Cadastro</h2>
            <form id="CadastroForm" action="" class="signin-form">
                <input type="text" id="name" name="name" placeholder="Nome Completo" required title="Digite seu Nome">
                <input type="email" id="email" name="email" placeholder="Email" required title="Digite seu Email">
                <input type="password" id="password" name="psw" placeholder="Password" required title="Escolha uma senha">
                <input type="password" id="csenha" name="cpsw" placeholder="Confirm password" required title="Confirme sua Senha">
                <input type="date" id="birthDate" name="brthdt" required placeholder="Data de nascimento" title="Digite sua data de nascimento">
                <input type="tel" id="cel" name="pnum" placeholder="Phone number" required title="Digite seu Telefone (DDD-Número)">
                
                <div class="dropdown-signin">
                    <div class="select-sexo">
                        <label for="sexo">Sexo</label>
                        <select id="gender" name="gender" required>
                            <option value="">Selecione...</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                    <div class="select-sou">
                        <label for="sou">Sou</label>
                        <select id="flagTipoUsuario" name="flagTipoUsuario" onchange="mostrarOpcao()" required>
                            <option value="">Selecione...</option>
                            <option value="musico">Músico</option>
                            <option value="produtor">Produtor Musical</option>
                            <option value="AM">Amante da Música</option>
                        </select>
                    </div>
                </div>
                <div id="cpfField" style="display: none;">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" title="Digite seu CPF">
                </div>

                     <div class="dropdown-gender">
                        <div id="generoField" class= "select-genero">
                            <label for="generoMusical">Gênero Musical</label> <br>
                            <select id="generoMusical" name="generoMusical" required>
                                <option value="">Selecione...</option>
                                <option value="Rock">Rock</option>
                                <option value="Sertanejo">Sertanejo</option>
                                <option value="Pop">Pop</option>
                                <option value="Hip_Hop">Hip Hop</option>
                                <option value="Jazz">Jazz</option>
                                <option value="Blues">Blues</option>
                                <option value="Classical">Classical</option>
                                <option value="Electronic_Dance_Music">Electronic Dance Music</option>
                                <option value="Country">Country</option>
                                <option value="Reggae">Reggae</option>
                                <option value="Funk">Funk</option>
                                <option value="Disco">Disco</option>
                                <option value="Gospel">Gospel</option>
                                <option value="Todos">Todos</option>
                            </select>
                        </div>
                    </div>

                <div id="cnpjField" style="display: none;">
                    <label for="cnpj">CNPJ:</label>
                    <input type="text" id="cnpj" name="cnpj" placeholder="Digite seu CNPJ" title="Digite seu CNPJ">
                </div>
                <input type="submit" value="Confirm">
            </form>
        </div>
        <p>
            Já possui cadastro? <a class="hiperlink" href="../LOGIN/login.html">Clique aqui.</a>
        </p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const select = document.getElementById('flagTipoUsuario');
            const cpfField = document.getElementById('cpfField');
            const cnpjField = document.getElementById('cnpjField');
            const cpfInput = document.getElementById('cpf');
            const cnpjInput = document.getElementById('cnpj');
            const generoField = document.getElementById('generoField');
            const generoInput = document.getElementById('generoMusical');

            function mostrarOpcao() {
                cpfField.style.display = 'none';
                cnpjField.style.display = 'none';
                generoField.style.display = 'none';
                cpfInput.required = false;
                cnpjInput.required = false;
                generoInput.required = false;

                if (select.value === 'AM') {
                    cpfField.style.display = 'block';
                    cpfInput.required = true;
                } else if (select.value === 'musico') {
                    cpfField.style.display = 'block';
                    generoField.style.display = 'block';
                    cpfInput.required = true;
                    generoInput.required = true;
                } else if (select.value === 'produtor') {
                    cnpjField.style.display = 'block';
                    cnpjInput.required = true;
                }
            }

            select.addEventListener('change', mostrarOpcao);
            mostrarOpcao();
        });

        $(document).ready(function() {
            $('#cel').mask('(00) 00000-0000'); // Máscara para números de celular brasileiros
            $('#cpf').mask('000.000.000-00', { reverse: true }); // Máscara para CPF
            $('#cnpj').mask('00.000.000/0000-00', { reverse: true }); // Máscara para CNPJ
        });
    </script>
</body>
</html>
