<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../ARCHIVES/image/Icaros-branco.png">
    <link href="./styl-login.css" rel="stylesheet" type="text/css">
    <title img="Icaros-branco">login</title>
    <script src="Connection.js"></script>
</head>
<body>      
    <div class="main-login">
        <div class="left-login">
            <a href="../index.html"><img src="../ARCHIVES/image/Icaros-branco.png" class="left-login-image"></a>
            <h1>Desperte e voe até o Sol,<br>
            venha fazer parte.</h1>
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <form action="">
                    <div class="text-field">
                        <input type="email" name="email" id="email" placeholder="Email" required title="Digite seu email">
                    </div>
                    <div class="text-field">
                      <input type="password" name="pswd" id="senha" placeholder="Password" required title="Digite sua senha">
                        <a class="pswd-bttn" type="button" id="toggleSenha" onclick="togglePasswordVisibility()">Mostrar Senha</a>
                    </div>
                </form>
                    <div class="card-bttn">
                        <button class="bttn-login" type="button" onclick="loginUser()">Login</button>
                        <a class="bttn-signin" href="../SIGN IN/SIGNIN.html">Cadastre-se</a>
                    </div>
            </div>
        </div>
    
</body>
</html>