@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
 
body{
    margin: 0px;
    font-family: 'roboto', sans-serif;
}
body * {
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 35vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    margin-top: 0px;
    font-size: 3vh;
    color: #f0f0f0;
    text-align: center;
}
.left-login-image{
    width: 20vw;
    height: 30vh;
    cursor: pointer;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1f1f1f;
    border-radius: 20px;
    box-shadow: 0px 10px 40px;
}
.card-login > h1{
    color: #ecd182;
    font-weight: 800;
    margin: 0;
}
.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
}
.text-field input{
    width: 15vw;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #2f2f2f;
    color: #f0f0f0;
    font-size: 10pt;
    box-shadow: 0px 10px 40px #1f1f1f;
    outline: none;
    box-sizing: border-box;
    margin-top: 20px;
}
.text-field > label{
    color: #f0f0f0;
}
.text-field ::placeholder{
    color: #7f7f7f;
}
.pswd-bttn{
    align-self: center;
    flex-direction: column;
    font-size: 8pt;
    height: 10%;
    color: #7f7f7f;
    background-color: #2f2f2f;
    cursor: pointer;
    border-radius: 5px;
    outline-color: none;
    padding: 5px;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 12px;
}
.card-bttn{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background: #1f1f1f;
    border-radius: 20px;
    margin-top: 20px;
}

.bttn-login{
    height: 40%;
    width: 50%;
    padding: 16px 0px;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0px;
    color:#0f0f0f;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #000;
}
.card-bttn button[type="button"]:hover {
    background-color: #ecd182;
}
.bttn-signin{
    height: 40%;
    width: 50%;
    padding: 16px 0px;
    margin-top: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0px;
    color:#f0f0f0;
    background-color: #0f0f0f;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #1f1f1f;
}
 
@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
    .left-login-image{
        width: 25vw;
        height: 25vh;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%
    }
    .card-login{
        width: 90%;
    }
}
 
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
        margin-bottom: 50px;
    }
    .card-login{
        width: 90%;
    }
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 