<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../ARCHIVES/image/Icaros-branco.png">
    <link href="./styl-confirm.css" rel="stylesheet" type="text/css">
    <title img="Icaros-branco">login</title>
    <script>

    </script>
</head>
<body>      
    <div class="main-login">
        <div class="left-login">
            <a href="../index.html"><img src="../ARCHIVES/image/Icaros-branco.png" class="left-login-image"></a>
            <h1>Desperte e voe até o Sol,<br>
            venha fazer parte.</h1>
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>AUTENTICAÇÃO</h1>
                <form action="">
                    <p class="text-field">Foi enviado um codigo para seu email</p>
                    <div class="text-field">
                        <input type="text" name="vcode" id="vcode" placeholder="Codigo de autenticacao" required title="Digite seu email">
                    </div>
                    <div class="card-bttn">
                        <button class="bttn-login" type="submit" onclick="">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>