<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../portMUSICO/styl-portMUSICO.css">
    <title>Perfil Musico</title>
    <link rel="icon" href="../ARCHIVES/image/Icaros-branco.png" type="image/x-icon" >
</head>
<body>
  <div class="cabecalho">
    <a href="../index.html"><img src="/ARCHIVES/image/Icaros-branco.png"></a>
</div>
  <div class="perfil">
    <div class="foto-bttns">
      <div class="foto">
        <img src="../ARCHIVES/image/card_gospel.png">
      </div>
        <div class="home-att">
          <div class="home">
            <a href="../index.html" title="Pagina Inicial"><img src="../ARCHIVES/image/Icaros-branco.png" class="above-signin-image"></a>
          </div>
          <div class="att">
            <a href="../attMUSICO/attMUSICO.html">Atualizar perfil</a>
          </div>
      </div>
    </div>
    <div class="nome-email">
      <div class="nome">
        <label>Nome</label>
        <p>

        </p>
      </div>
      <div class="email">
        <label>Email</label>
        <p>
          
        </p>
      </div>
      <div class="estilo">
        <label>Estilo musical</label>
        <p>
          
        </p>
      </div>
    </div>
    <div class="descricao">
      <label>Descrição</label>
      <p>
        
      </p>
    </div>
    <div class="apresentacao">
      <label>Apresentação</label>

    </div>
  </div>
</body>
</html>