<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../portAM/styl-portAM.css">
    <title>Perfil AM</title>
    <link rel="icon" href="../ARCHIVES/image/Icaros-branco.png" type="image/x-icon" >
    <script src="script.js"></script>
</head>
<body>
  <div class="cabecalho">
    <a href="../index.html"><img src="../ARCHIVES/image/Icaros-branco.png" alt="Icaros Logo"></a>
</div>
  <div class="perfil">
    <div class="foto-bttns">
      <div class="foto">
        <img id="imagem" src="" alt="Imagem do Perfil"><br>
      </div>
        <div class="home-att">
          <div class="att">
            <a href="../attAM/attAM.html">Atualizar perfil</a>
          </div>
      </div>
    </div>
    <div class="nome-email">
      <div class="nome">
        <label>Nome</label>
        <input type="text" id="nome" name="nome">
        <p>

        </p>
      </div>
      <div class="email">
        <label>Email</label>
        <input type="text" id="email" name="email">
        <p>
          
        </p>
      </div>
      <div class="estilo">
        <label>Estilo musical</label>
        <input type="text" id="opcoes" name="opcoes">
        <p>
          
        </p>
      </div>
      
    </div>
    <div class="descricao">
      <label>Descrição</label>
      <textarea id="descricao" name="descricao"></textarea><br>
      <p>
        
      </p>
    </div>
  </div>
</body>
</html>


