<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualização de perfil - Musico</title>
    <link rel="stylesheet" href="../attMUSICO/styl-attMUSICO.css">
    <link rel="icon" href="../ARCHIVES/image/Icaros-branco.png" type="image/x-icon">   
    <script src="script.js" defer></script>
  
    </head>
<body>
    <div class="cabecalho">
        <a href="../index.html"><img src="/ARCHIVES/image/Icaros-branco.png"></a>
    </div>
    <div class="tudo">
        <div class="nav-bar">
            <div class="nav-bttn">
                <a class="bttn-perfil" href="../portMUSICO/portifolio-musico.html">Voltar ao Perfil</a>
            </div>
        </div>
        <div class="att-perfil">
            <form class="form-perfil" id="perfilForm" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="userId" name="userId" value="1">
                    <label for="foto">Foto de Perfil:</label>
                    <input type="file" id="imagem" name="imagem" accept="image/*">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                    <label for="opcoes">Genero musical:</label>
                    <select id="opcoes">
                        <option value="">Selecione...</option>
                        <option value="Rock">Rock</option>
                        <option value="Sertanejo">Sertanejo</option>
                        <option value="Pop">Pop</option>
                        <option value="Hip_Hop">Hip Hop</option>
                        <option value="Jazz">Jazz</option>
                        <option value="Blues">Blues</option>
                        <option value="Classical">Classical</option>
                        <option value="Electronic_Dance_Music">Electronic Dance Music</option>
                        <option value="Country">Country</option>
                        <option value="Reggae">Reggae</option>
                        <option value="Funk">Funk</option>
                        <option value="Disco">Disco</option>
                        <option value="Gospel">Gospel</option>
                    </select>
                   
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" name="descricao" required></textarea>
                    <input type="submit" value="Atualizar Perfil">
            </form>
        </div>
    </div>
</body>
</html>