<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="icon" href="../View/ARCHIVES/image/Icaros-branco.png" type="image/x-icon" >
    <title>Icaros</title>
</head>
<body>
    <div class="cabecalho">
        <div class="logo-login">
            <div class="logo">
                <img src="../ARCHIVES/image/Icaros-branco.png">
            </div>
            <div class="login">
                <a href="../LOGIN/login.html">LOGIN</a>
            </div>
        </div>
    </div>
    <div class="sobre">
        <h1>
            Liberte Sua Música: O Aplicativo que Inspira, Inova e Conecta
        </h1>
        <div class="img-txt-sobre">
            <div class="txt-sobre">
                <p>
                    Seja você um músico em busca de liberdade criativa, um amante da
                    música ávido por novidades ou um produtor ansioso para descobrir
                    novos talentos, temos o aplicativo perfeito para você, Ícaros.
                    Descubra Novos Horizontes!
                </p>
                <p>
                    Com Ícaros, artistas musicais têm uma plataforma que celebra a 
                    liberdade criativa. Explore novas sonoridades, experimente gêneros 
                    diversos e conecte-se com uma comunidade global que compartilha
                    sua paixão pela expressão musical única.
                </p>
                <p>
                    Junte-se a nós em Ícaros e descubra um universo onde a música
                    encontra a liberdade, a inovação e a conexão. Transforme sua
                    jornada musical hoje mesmo!
                </p>
            </div>
            <div class="img-sobre">
                <img src="../ARCHIVES/image/Personas.png">
            </div>
        </div>
    </div>
    <hr class="separador">
    <div class="txt-card">
        <p>
            Aqui temos diferentes estilos, Qual o seu?
        </p>
    </div>
    <div class="cards">
        <div class="card-genero">
            <div class="card-sertanejo-imagem">
              <img src="../ARCHIVES/image/card_sertanejo.jpg" alt="Card 1">
              <p>Entre acordes e sentimentos, a música sertaneja conta histórias de coração aberto.</p>
          </div>
        </div>
        <div class="card-genero">
            <div class="card-funk-conteudo">
                <img src="../ARCHIVES/image/card_funk.jpg" alt="Card 2">
              <p>Deixe a batida contagiar sua alma. Viva o ritmo, sinta a vibração do funk!</p>
            </div>
        </div>
        <div class="card-genero">
            <div class="card bg-purple bg-text-white custom-card">
                <img src="../ARCHIVES/image/card_gospel.png" alt="Card 3">
              <p>Que as notas nos levem mais perto da fé. A música gospel é a melodia da esperança.</p>
            </div>
        </div>
        <div class="card-genero">
            <div class="card bg-purple bg-text-white custom-card">
                <img src="../ARCHIVES/image/card_rock.jpg" alt="Card 4">
              <p>No universo do rock, encontramos a energia que nos faz sentir invencíveis.</p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card-genero">
            <div class="card bg-purple bg-text-white custom-card">
                <img src="../ARCHIVES/image/card_hiphop.jpg" alt="Card 5">
              <p>É mais do que música, é um movimento. Das ruas para o mundo, vozes que ecoam.</p>
            </div>
        </div>
          <div class="card-genero">
            <div class="card bg-purple bg-text-white custom-card">
                <img src="../ARCHIVES/image/MPB.jpg" alt="Card 5">
              <p>Sinta a poesia em cada acorde, a MPB é a trilha sonora da alma brasileira.</p>
            </div>
        </div>
    </div>
    <div class="sociais">
        <div class="txt-sociais">
            <p>
                Redes Sociais:
            </p>
        </div>
        <div class="bttn-sociais">
            <a href="https://www.facebook.com"><img src="../ARCHIVES/image/faceboook.svg" alt=></a>
            <a href="https://www.instagram.com"><img src="../ARCHIVES/image/instagram (1).svg"></a>
            <a href="https://twitter.com"><img src="../ARCHIVES/image/x-twitter.svg"></a>
            <a href="https://www.linkedin.com"><img src="../ARCHIVES/image/linkedin.svg"></a>
        </div>
        <div class="txt-sociais">
            <p>
                ©2023 Ícaros  Todos os direitos reservados.
            </p>
        </div>
    </div>
</body>
</html>